.font{
    font-family: 'Arial', sans-serif;
    font-weight: 100;
    font-size: 13px;  
}

@font-face {
   font-family: 'Arial', sans-serif !important;
   src: url('/custom_inventory/static/src/fonts/Roboto_SemiCondensed-Italic.ttf') format('truetype');  
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Arial', sans-serif !important;
   src: url('/custom_inventory/static/src/fonts/Roboto_SemiCondensed-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

.arabic{
   font-family: 'Arial', sans-serif !important;
}

table.cr-table tbody tr:last-child {
    height: 100%;
}


/* LOW - Green */
.o_badge.o_selection_badge[data-value="low"] {
   background-color: #1f8f4e !important;
   color: #ffffff !important;
}

/* MEDIUM - Orange */
.o_badge.o_selection_badge[data-value="medium"] {
   background-color: #f4a100 !important;
   color: #ffffff !important;
}

/* HIGH - Red */
.o_badge.o_selection_badge[data-value="high"] {
   background-color: #d93025 !important;
   color: #ffffff !important;
}

/* EMPTY / FALSE */
.o_badge.o_selection_badge[data-value="false"] {
   background-color: #9e9e9e !important;
   color: #ffffff !important;
}
